/* VIDEO */
.video-card {
    height: 70vh;
    width: 100%;
    position: relative;
}

.video-card video{
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.video-decoration{
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

.video-decoration h5{
    color:  rgb(139, 137, 137);
    position: absolute;
    bottom: 0;
    left: 38%;
}